{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
    {% endif %}
    <li class="active"><a >{% trans 'Change password' %}</a></li>
    <li><a href="../logout/">{% trans 'Log out' %}</a></li>
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<br />
<h3>{% trans 'Password change successful' %}</h3>
<br />
<p class="alert alert-success">{% trans 'Your password was changed.' %}</p>

{% endblock %}
